In [51]:
import pandas as pd
import os
import numpy as np

In [24]:
folder = 'D:\ESDA_MSc\DSSHackathon2019'

In [25]:
data_1_complaints = pd.read_csv(os.path.join(folder, 'Dataset 1.csv'))

In [26]:
data_2_behaviour = pd.read_csv(os.path.join(folder, 'Dataset 2.csv'))

In [27]:
data_3_success = pd.read_csv(os.path.join(folder, 'Dataset 3.csv'))

In [28]:
data_4_risk = pd.read_csv(os.path.join(folder, 'Dataset 4.csv'))

In [29]:
data_5_defaults = pd.read_csv(os.path.join(folder, 'Dataset 5.csv'))

In [30]:
data_3_success.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [57]:
data_3_success.describe()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
count,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000
mean,0.775588,0.456406,33.213103,3.365376,0.068732,185.057071,0.440485,0.068992,0.993935,55.267627,0.817286,6.996967
std,0.417353,1.345267,10.142783,1.693902,0.094656,272.218917,0.496634,0.253536,1.247745,66.271746,0.386579,6.305812
min,0.000000,0.000000,0.166667,0.210000,0.000109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,25.416670,2.243750,0.002316,4.583333,0.000000,0.000000,0.000000,12.000000,1.000000,2.000000
50%,1.000000,0.000000,31.250000,2.900000,0.038827,101.298300,0.000000,0.000000,1.000000,30.000000,1.000000,6.000000
75%,1.000000,0.000000,39.416670,4.000000,0.093617,249.035800,1.000000,0.000000,2.000000,72.000000,1.000000,11.000000
max,1.000000,14.000000,83.500000,13.500000,0.906320,3099.505000,1.000000,1.000000,6.000000,540.000000,1.000000,46.000000

In [53]:
np.unique(data_3_success[['selfemp']].values)

array(['no', 'yes'], dtype=object)

In [54]:
data_3_success['card'] = data_3_success['card'].replace('yes',1)
data_3_success['card'] = data_3_success['card'].replace('no',0)
data_3_success['owner'] = data_3_success['owner'].replace('yes',1)
data_3_success['owner'] = data_3_success['owner'].replace('no',0)
data_3_success['selfemp'] = data_3_success['selfemp'].replace('yes',1)
data_3_success['selfemp'] = data_3_success['selfemp'].replace('no',0)

In [55]:
data_3_success.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,0,37.66667,4.5200,0.033270,124.983300,1,0,3,54,1,12
1,1,0,33.25000,2.4200,0.005217,9.854167,0,0,3,34,1,13
2,1,0,33.66667,4.5000,0.004156,15.000000,1,0,4,58,1,5
3,1,0,30.50000,2.5400,0.065214,137.869200,0,0,0,25,1,7
4,1,0,32.16667,9.7867,0.067051,546.503300,1,0,2,64,1,5

In [56]:
# from sklearn.decomposition import PCA
# from sklearn.preprocessing import StandardScaler

In [59]:
features = ['reports', 'age', 'income', 'share', 'expenditure', 'owner', 'selfemp', 'dependents', 'months', 'majorcards', 'active']
target = ['card']

In [ ]:
# x = data_3_success.loc[:, features].values # Separating out the features
# y = data_3_success.loc[:, target].values # Separating out the target
# x = StandardScaler().fit_transform(x) # Standardizing the features

In [60]:
from sklearn.model_selection import train_test_split
x = data_3_success.loc[:, features].values
y = data_3_success.loc[:, target].values
train, val, ytrain, yval = train_test_split(x, y, test_size=0.25, random_state=0)

In [63]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train, ytrain)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
pred_val = lr.predict(val)

In [65]:
score = lr.score(train, ytrain)
print(score)

0.9828109201213346

In [97]:
from sklearn.metrics import accuracy_score
accuracy_score(yval, pred_val)

0.9848484848484849

In [100]:
pd.DataFrame({"feature": features, "value": lr.coef_[0]}).sort_values(by='value', ascending=False)

        feature     value
4   expenditure  1.643692
6       selfemp  0.504611
5         owner  0.286560
9    majorcards  0.176913
10       active  0.105286
8        months  0.000624
3         share -0.000816
1           age -0.001517
2        income -0.222004
7    dependents -0.902368
0       reports -1.661324

In [101]:
# from sklearn.feature_selection import RFE
# predictors = train
# selector = RFE(lr, n_features_to_select=1)
# selector = selector.fit(predictors, ytrain)

In [102]:
# for i in selector.ranking_:
#    print(features[i-1])

In [103]:
# selector.score(train,ytrain)

In [105]:
data_4_risk[''].

array([12,  8, 11,  9, 10,  7,  6], dtype=int64)

In [106]:
data_4_risk.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')